body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

.container {
        display: flex;
        align-items: center; /* Выравнивание по вертикали */
}

header {
    padding: 10px;
    text-align: left;
}

.logo {
    max-width: 300px;
    height: auto;
}

#center-marker {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 32px;
    height: 32px;
    background-image: url('/static/images/metka.png');
    background-size: contain;
    z-index: 999;
    pointer-events: none;
}

#output {
    border: 2px solid #ccc;
    background-color: #f9f9f9;
    padding: 8px;
    /* width: 100px; */
    display: inline-block; /* Чтобы блок имел ширину по содержимому */
    white-space: nowrap; /* Чтобы текст не переносился на новую строку */
    height: 20px;
    overflow: auto;
    margin: 18px left;
    border-radius: 15px;

}

#map-modal {
    display: none; /* Скрываем модальное окно по умолчанию */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(201, 57, 57, 0.062); /* Темный фон */
    justify-content: center;
    align-items: center;
}

.ok-button {
    position: relative;
    margin-top: 0px;
    left: 840px;
    top: -288px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.ok-button:hover {
    background-color: #0056b3;
}

#map {
    width: 800px;
    height: 500px;
    background-color: #e7cccc; /* Белый фон для карты */
    position: relative;
    padding: 20px;
    border-radius: 8px;
}

.wheretaking {
    border: 2px solid rgb(189, 55, 55);
    background-color: #ad8e8e;
    padding: 8px;
    width: 100px;
    display: inline-block; /* Чтобы блок имел ширину по содержимому */
    white-space: nowrap; /* Чтобы текст не переносился на новую строку */
    height: 22px;
    overflow: auto;
    margin: 20px left;
    border-radius: 17px;
}

#metka {
    position: relative;
    top: 22px;
    left: 25px;
    transform: translate(-50%, -50%);
    width: 45px;
    height: 45px;
    background-image: url('/static/images/metka_earth.png');
    background-size: contain;
    z-index: 999;
    pointer-events: none;
}

.header {
    background-color: #e74c3c;
    color: white;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.search-container {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 20px;
    padding: 5px 15px;
    width: 700px;
}

.search-input {
    border: none;
    outline: none;
    padding: 8px;
    width: 100%;
    font-size: 14px;
}

.search-icon {
    color: #777;
    margin-left: 0px;
    cursor: pointer;
    transition: transform 0.6s;
}

.search-icon:hover {
    transform: translateY(-2px);
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.cart-btn {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.cart-icon {
    margin-right: 5px;
    font-size: 20px;
    cursor: pointer;
}

/* Стили для кнопки каталога и меню */
.catalog-container {
    position: relative;
}

.catalog-btn {
    background-color: #e74c3c;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 8px;
}

/* Стили для меню категорий */
.categories-menu {
    position: absolute;
    top: 139%;
    left: -19px;
    width: 250px;
    background: rgb(238, 169, 169);
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 0 0 4px 4px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    z-index: 1000;
}

.categories-menu.active {
    max-height: 500px;
    overflow-y: auto;
}

.category-item {
    padding: 12px 16px;
    display: block;
    color: #333;
    text-decoration: none;
    transition: background 0.2s;
}

.category-item:hover {
    background: #f5f5f5;
}

/* Блок пользователя */
.user-block {
    position: fixed;
    top: 18px;
    right: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    z-index: 1000;
}

.login-btn {
    position: fixed;

    right: 20px;
    padding: 6px 12px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    z-index: 1000;
}

.logout-btn {
    right: 20px;
    padding: 6px 12px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;

}