<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/base.css">
    <title>{{ title|title }}</title>

    {% block css %} {% endblock %}

</head>


<body>
    <div class="fixed-header-wrapper">
        <div class="container">
            <header>
                <img src="/static/images/logo.png" alt="Logo" class="logo">
            </header>
            <div id="metka"></div>
            <div id="output"></div>
            <div id="map-modal">
                <button class="ok-button" onclick="closeMap()">OK</button>
                <div id="map">
                    <div id="center-marker"></div>
                </div>
            </div>

            <!-- Кнопка входа в левом верхнем углу -->
            <a id="loginButton" class="login-btn" href="{% url 'users:login' %}">Войти</a>


            <!-- Блок пользователя (будет появляться после входа) -->
            <div id="userBlock" class="user-block" style="display: none;">
                <span id="usernameDisplay"></span>
                <button id="logoutBtn" class="logout-btn">Выйти</button>
            </div>

        </div>

        <div class="header">
            <div class="catalog-container">
                <button class="catalog-btn" id="catalogBtn">
                    ☰ КАТАЛОГ ТОВАРОВ
                </button>
                    <div class="container-menu" id="containerMenu"></div>
                    <div class="categories-menu" id="categoriesMenu">
                        {% for category in categories %}
                        <a href="#" class="category-item" data-category-id="{{ category.id }}">{{ category.name }}</a>
                        {% endfor %}
                    </div>
                    <div class="product-menu" id="productMenu">
                        {% for product in products %}
                        <a href="#" class="product-item">{{ product.name }}</a>
                        {% empty %}
                        <span class="product-item">Нет товаров</span>
                        {% endfor %}
                    </div>
            </div>

            <div class="search-container">
                <input type="text" class="search-input" placeholder="Умный поиск">
                <span class="search-icon">🔍</span>
            </div>

            <div class="cart-btn">
                <span class="cart-icon">🛒</span>
                <span>Корзина</span>
            </div>
        </div>
    </div>

    <main class="content">
        {% block content %} {% endblock %}
    </main>
    
{% block footer %} {% endblock %}

{% block scripts %} {% endblock %}

<script src="https://yandex.st/jquery/2.2.3/jquery.min.js"></script>
<!--<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&apikey=31df7a72-4554-4525-a569-9e509470153f"></script>-->
<script src="/static/js/map.js"></script>
<script src="/static/js/window_for_map.js"></script>
<script src="/static/js/street_block.js"></script>
<script src="/static/js/menu.js"></script>
<!--<script src="/static/js/autoregistr.js"></script>-->
</body>
</html>