{% extends 'products/base.html' %}

{% load static %}

{% block css %}
<link rel="stylesheet" href="/static/css/index.css">
{% endblock %}

{% block content %}
{% csrf_token %}
<div class="shop-container">
    <div class="products-grid">
        {% for product in products %}
        <div class="product-card">
            <a href="{% url 'products:product_detail' product.id %}">
                <img class="product-image" src="/media/{{ product.image }}" alt="{{ product.name }}">
                <h3 class="product-title">{{ product.name }}</h3>
            </a>
            <div class="product-price">{{ product.price|stringformat:"d" }} ₽</div>
            <p class="product-description">{{ product.short_description }}</p>
            <button class="add-to-cart-btn" data-product-id="{{ product.id }}">Добавить в корзину</button>
        </div>
        {% endfor %}
    </div>
</div>

<!-- Подключаем корзину -->
<div id="cart-container">
    {% include 'products/basket.html' %}
</div>
{% endblock %}

{% block footer %}
<!--pass-->
{% endblock %}

{% block scripts %}
<script>
    window.isAuthenticated = {{ request.user.is_authenticated|lower }};
    window.loginUrl = "{% url 'users:login' %}?next={{ request.path }}";
</script>
<script src="{% static 'js/cart.js' %}"></script>
{% endblock %}