{% for product in products %}
<div class="product-card">
    <a href="{% url 'products:product_detail' product.id %}">
        <img class="product-image" src="{{ product.image.url }}" alt="{{ product.name }}">
        <h3 class="product-title">{{ product.name }}</h3>
    </a>
    <div style="display: flex; justify-content: space-between; align-items: center;">
        <div class="product-price">{{ product.price|stringformat:"d" }} ₽</div>
        <div class="product-rating">
            <span class="product-rating-star">★</span>
            <span class="product-rating-value">{{ product.average_rating|floatformat:1 }}</span>
        </div>
    </div>
    <button class="add-to-cart-btn" data-product-id="{{ product.id }}">Добавить в корзину</button>
</div>
{% endfor %}