{% extends 'products/base.html' %}

{% load static %}

{% block css %}
<link rel="stylesheet" href="/static/css/products.css">
{% endblock %}

{% block content %}
<nav class="custom-breadcrumb">
    <a href="#" class="custom-breadcrumb-link">Каталог товаров</a> →
    <a href="#" class="custom-breadcrumb-link">Молочная продукция</a> →
    <span class="custom-breadcrumb-current">Молоко "Домик в деревне 3.2%"</span>
</nav>
<div class="custom-product-card">
    <div class="custom-left-column">
      <h1 class="custom-title">Молоко "Домик в деревне 3.2%"</h1>
      <div class="custom-description-title">Описание</div>
      <div class="custom-details">
        <p><strong>Состав:</strong> Молоко цельное</p>
        <p><strong>Страна производитель:</strong> РФ</p>
        <p><strong>Изготовитель:</strong> ООО "ДЕРЕВНЯ"</p>
        <p><strong>Бренд:</strong> "У Каждого своя деревня"</p>
        <p><strong>Тип упаковки:</strong> Пластиковая бутылка</p>
        <p><strong>Тип материала:</strong> Пластик</p>
        <p><strong>Размер (ВxШxГ), см:</strong> 10x20x10</p>
        <p><strong>Рекомендации:</strong> Готово к употреблению</p>
        <p><strong>Условия хранения:</strong> 4+…2C</p>
        <p><strong>Энергетическая ценность:</strong> 53Ккал / 220КДж</p>
        <p><strong>Пищевая ценность:</strong> Белки 3.0г, Жиры 2.0г, Углеводы 4.7г</p>
      </div>
    </div>
  
    <div class="custom-right-column">
      <!-- <div class="custom-product-image">href="/media/product_media/moloko1.png"</div> -->
      <img class="custom-product-image" src="/media/product_media/moloko1.png" alt="{{ product.name }}">
      <div class="custom-rating">
        Рейтинг: <span id="custom-rating-value">4.7</span>
        <div class="custom-rating-stars" data-rating="4.7">
          <span class="custom-heart" data-value="1">♥</span>
          <span class="custom-heart" data-value="2">♥</span>
          <span class="custom-heart" data-value="3">♥</span>
          <span class="custom-heart" data-value="4">♥</span>
          <span class="custom-heart" data-value="5">♥</span>
        </div>
      </div>
      <div class="custom-stock">Наличие: <strong>10 шт.</strong></div>
      <div class="custom-price-section">
        <div class="custom-price">135₽</div>
        <div class="custom-quantity-control">
          <button>-</button>
          <input type="text" value="1">
          <button>+</button>
        </div>
        <button class="custom-add-to-cart">🛒 <span>В корзину</span></button>
      </div>
    </div>
</div>
{% endblock %}

{% block footer %}
<!--pass-->
{% endblock %}

{% block scripts %}
<!-- <script src="/static/js/products.js"></script> -->
{% endblock %}
